body, html {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

a {
  color: #00B7FF;
}

header {
  background-color: #fff;
  color: #252d40;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin: 0 0 15px;
  text-align: center;
}

header > h3 {
  font-family: Helvetica;
  margin: 0;
  padding: 15px 0;
}

#container {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

canvas {
  image-rendering:optimizeSpeed;
}

#background, #foreground {
  margin: 0;
  padding: 0;
}